<% const folderUpload = '/uploads/article/' %>
<% include ./../../helpers/format-date %>
<% include ./../../helpers/format-summary %>
<% include ./../../helpers/convert-to-slug %>

<!-- ##### Intro News Area Start ##### -->
<section class="intro-news-area section-padding-50-0 mb-70">
    <div class="container">
        <div class="row justify-content-center">
            <!-- Intro News Tabs Area -->
            <div class="col-12 col-lg-8">
                <div class="intro-news-tab">
                    <!-- Intro News Filter -->
                    <div class="intro-news-filter d-flex justify-content-between">
                        <h6><%= category[0].name %></h6>  
                    </div>
                    <% if(itemsInCategory.length > 0) { %>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-1" role="tabpanel" aria-labelledby="nav1">
                            <div class="row">
                                <!-- Single News Area -->
                                <div class="col-12">
                                    <div class="single-blog-post style-2 mb-5">
                                        <!-- Blog Thumbnail -->
                                        <div class="blog-thumbnail">
                                            <a href="/article/<%= convertToSlug(itemsInCategory[0].category.name) %>/<%= itemsInCategory[0].slug %>"><img src="<%= folderUpload + itemsInCategory[0].thumb%>" alt="Photo"></a>
                                        </div>

                                        <!-- Blog Content -->
                                        <div class="blog-content">
                                            <span class="post-date"><%= formatDateHelper(itemsInCategory[0].created.time) %></span>
                                            <a href="/article/<%= convertToSlug(itemsInCategory[0].category.name) %>/<%= itemsInCategory[0].slug %>" class="post-title"><%= itemsInCategory[0].name %></a>
                                            <a href="#" class="post-author mb-30"><%= itemsInCategory[0].created.user_name %></a>
                                            <p><%- formatSummary(itemsInCategory[0].content) %></p>
                                        </div>
                                    </div>
                                </div>
                                <% for(let i = 1; i < itemsInCategory.length; i++) { %>
                                    <!-- Single News Area -->
                                    <div class="col-12 col-sm-6">
                                        <div class="single-blog-post style-2 mb-5">
                                            <!-- Blog Thumbnail -->
                                            <div class="blog-thumbnail">
                                                <a href="/article/<%= convertToSlug(itemsInCategory[i].category.name) %>/<%= itemsInCategory[i].slug %>"><img src="<%= folderUpload + itemsInCategory[i].thumb%>" alt="Photo"></a>
                                            </div>
    
                                            <!-- Blog Content -->
                                            <div class="blog-content">
                                                <span class="post-date"><%= formatDateHelper(itemsInCategory[i].created.time) %></span>
                                                <a href="/article/<%= convertToSlug(itemsInCategory[i].category.name) %>/<%= itemsInCategory[i].slug %>" class="post-title"><%= itemsInCategory[i].name %></a>
                                                <a href="#" class="post-author"><%= itemsInCategory[i].created.user_name %></a>
                                            </div>
                                        </div>
                                    </div>
                                <%} %> 
                            </div>
                        </div>
                    </div>
                    <%} else {%>
                        <h3 class="text-center">Không có bài viết nào được thêm</h3>
                    <%} %> 
                </div>
            </div>

            <!-- Sidebar Widget -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="sidebar-area">
                    <% include ./../../elements/sildebar %> 
                    <% include ./../../elements/sildebar-news %> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Intro News Area End ##### -->

<!-- ##### Add Area Start ##### -->
<div class="big-add-area">
    <div class="container-fluid">
        <a href="#"><img src="/newsbox/img/bg-img/add4.png" alt=""></a>
    </div>
</div>
<!-- ##### Add Area End ##### -->

<!-- ##### News Area Start ##### -->
<div class="news-area section-padding-100-70">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9">

                <!-- Single News Area -->
                <div class="single-blog-post d-flex flex-wrap style-5 mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="/newsbox/img/bg-img/28.jpg" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Rachel Sm ith breaks down while discussing border crisis</a>
                        <a href="#" class="post-author">By Michael Smith</a>
                        <p>Nullam lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus.</p>
                    </div>
                </div>

                <!-- Single News Area -->
                <div class="single-blog-post d-flex flex-wrap style-5 mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="/newsbox/img/bg-img/29.jpg" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Romantic retreats: 11 resorts worth crossing the Pacific for</a>
                        <a href="#" class="post-author">By Michael Smith</a>
                        <p>Lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis.</p>
                    </div>
                </div>

                <!-- Single News Area -->
                <div class="single-blog-post d-flex flex-wrap style-5 mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="/newsbox/img/bg-img/30.jpg" alt=""></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <a href="#" class="post-title">Europe will hit US products with tariffs starting Friday</a>
                        <a href="#" class="post-author">By Michael Smith</a>
                        <p>Lacinia ex eleifend orci porttitor, suscipit interdum augue condimentum. Etiam pretium turpis eget nibh laoreet iaculis. Proin ac urna at lectus volutpat lobortis.</p>
                    </div>
                </div>

            </div>

            <div class="col-12 col-md-4 col-lg-3">

                <!-- Single News Area -->
                <div class="single-blog-post style-6 mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="/newsbox/img/bg-img/11.jpg" alt=""></a>
                        <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <p class="post-title">Viral Video</p>
                    </div>
                </div>

                <!-- Single News Area -->
                <div class="single-blog-post style-6 mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="/newsbox/img/bg-img/12.jpg" alt=""></a>
                        <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <p class="post-title">Viral Video</p>
                    </div>
                </div>

                <!-- Single News Area -->
                <div class="single-blog-post style-6 mb-30">
                    <!-- Blog Thumbnail -->
                    <div class="blog-thumbnail">
                        <a href="#"><img src="/newsbox/img/bg-img/13.jpg" alt=""></a>
                        <a href="#" class="video-btn"><i class="fa fa-play" aria-hidden="true"></i></a>
                    </div>

                    <!-- Blog Content -->
                    <div class="blog-content">
                        <span class="post-date">June 20, 2018</span>
                        <p class="post-title">Viral Video</p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- ##### News Area End ##### -->