<% include ./../helpers/showMenuUser %> 
<%
    const folderUpload = './uploads/logo/' ;
%>

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="newsbox-main-menu">
        <div class="classy-nav-container breakpoint-off">
            <div class="container-fluid">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="newsboxNav">

                    <!-- Nav brand -->
                    <a href="/" class="nav-brand"><img src="<%= folderUpload %><%= itemSettings.logo %>" alt="<%= folderUpload %><%= itemSettings.logo %>"></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="#">Danh mục</a>
                                    <ul class="dropdown">
                                        <% itemsCategory.forEach((item) =>{ %>
                                            <li><a href="/category/<%= item.slug %>"><%= item.name %></a></li>
                                        <% }) %>
                                    </ul>
                                </li>
                                <li><a href="#">Tin tức tổng hợp</a>
                                    <ul class="dropdown">
                                        <% generalNewsCategory.forEach((item) =>{ %>
                                            <li><a href="/general-news/<%= item.slug %>"><%= item.category %></a></li>
                                        <% }) %>
                                    </ul>
                                </li>
                                <li><a href="/contact">Liên hệ</a></li>
                                <!-- <li><a href="#">Danh mục</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Danh mục</a></li>
                                        <li><a href="#">Danh mục</a></li>
                                    </ul>
                                </li> -->
                                <%- showMenuUser(userInfo) %> 
                            </ul>

                            <!-- Header Add Area -->
                            <div class="header-add-area">
                                <a href="#">
                                    <img src="/newsbox/img/bg-img/add.png" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- Nav End -->

                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->